.links-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #f7fff7;
}
.links-wrapper li {
    list-style-type: none;
}
.links-wrapper li a {
    color: rgb(126, 122, 122);
    font-weight: 500;
    transition: color .1s ease-in-out,opacity .1s ease-in-out;
}
.links-wrapper li a:hover {
    color: #121212;
}
@media only screen and (max-width: 400px) {
    .links-wrapper li a {
        display: none;
    }
  }

  /* :nth-child(2n+2) */